@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bar-hide {
  overflow: hidden;
} */

.bar-hide {
  overflow: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.bar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
